.bloco-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10%;
    gap: 40px;
    color: var(--color-0);
}
  
.linha-contato {
    background-color: var(--color-6);
    height: 1px;
    width: 100%;
    margin-top: 10px;
}
  
.itens-contato {
    display: grid;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
  
.item-contato {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
}
  
.item-contato img {
    width: 30px;
    height: 30px;
}
  
.item-contato a {
    color: var(--color-0);
    text-decoration: none;
    transition: 0.2s;
}
  
.item-contato a:hover {
    color: var(--color-6);
    transform: scale(1.05);
}
  