
/* TEXTO SOBRE MIM */

.texto-sobre{
    color: var(--color-0);
    max-width: 600px;
    font-style: italic;
}

.texto-sobre h3{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
}

.linha-sobre{
    background-color: var(--color-6);
    height: 1px;
    width: 100%;
    margin-top: 20px;
}