.bloco-tecnologias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 10%;
  gap: 40px;
  color: var(--color-0);
}

.titulo-impactante {
  font-style: italic;
  font-size: 1.8rem;
}

.linha-tecnologia {
  background-color: var(--color-6);
  height: 1px;
  width: 100%;
  margin: 10px 0 25px 0;
}

.lista-codar,
.lista-relacionados {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 15px;
  font-size: 1.1rem;
}

.point {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--color-6);
  color: var(--color-0);
  width: fit-content;
  transition: 0.2s;
}

.point:hover {
  background-color: var(--color-5);
  transform: scale(1.05);
}
